@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jomhuria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;


}

a {
    display: block;
    text-decoration: none;
    color: #333;
}

li,
ul {
    list-style: none;
}

::-webkit-scrollbar {
    display: none !important;
}

/* page 1 */

.backGround {
    height: 9000px;
    background: url("../img/backGround.png") no-repeat center/cover;
    /* background: #ccc; */
    overflow: hidden;
    background-attachment: fixed;
}

section {
    display: flex;
    height: 100vh;
    align-items: center;
}


.nav {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 70px;
    padding-right: 50px;

}

.nav a {
    color: #fff;
    width: 150px;
    text-align: center;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.text1 {
    color: #fff;
    font-size: 10rem;


}

.text2 {
    color: #fff;
    font-size: 10rem;
    display: flex;
    justify-content: right;

}

.textWrap {
    white-space: nowrap;
    height: 80vh;
    width: 100%;
    position: fixed;
    line-height: 250px;
    transform: translateY(300px);
}

/* page 2 */

.introduce {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px;
}

.introduceBox {
    background: #fff;
    position: relative;
    max-width: 1373px;
    width: 100%;
    height: 80%;
    border-radius: 50px;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 15%;
}

.processBarWrap {
    width: 60%;
    margin-left: 20%;
}

.processBar {
    background: red;
    height: 0.3rem;
    width: 100%;
    animation: 4s ease 0s infinite normal none running progress;
}

.linkWrap {
    padding-left: 20%;
    padding-top: 4%;
}

.link {
    width: 300px;
    height: 40px;
    margin-top: 1%;
}

.link a {
    background: #333;
    border-radius: 30px;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.link a:hover {
    background: #ebebeb;
    border-radius: 30px;
    color: #333;
}

.slideTitle {
    font-size: 30px;
    padding-left: 20%;
    color: red;
}

.slideWrap {
    display: flex;
    width: 500%;
    animation: slide 20s infinite
}

.skillIcon {
    height: 100%;
    position: relative;
    left: 5%;
}

.text {
    font-size: 4.5rem;
    width: 100%;
    padding-left: 4%;
    height: 100px;
    display: flex;
    align-items: center;
}

.introduceText {
    padding-left: 20%;
    width: 80%;
    padding-top: 10%;
}

.introduceText p {
    font-size: 20px;
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}

@keyframes progress {
    0% {
        width: 0;
    }

    70% {
        width: 100%;
    }
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    95% {
        margin-left: -400%;
    }

    to {
        margin-left: 0;
    }
}

/* media */
@media (max-width: 420px) {
    .textWrap .text1 {
        white-space: pre-line;
    }

    .textWrap {
        line-height: 60px;
        transform: translateY(-1rem);
        height: 30vh;
    }

    .textWrap .text1 {
        font-size: 4rem;
    }

    .textWrap .text2 {
        font-size: 3rem;
        padding-top: 30px;
    }

    .text {
        font-size: 2rem;
        padding-left: 0;
    }

    .text p {
        position: relative;
        left: 80px;
    }

    .text:nth-child(1) img {
        width: 80px;
    }

    .text img {
        position: relative;
        left: 25%;
        width: 50px;
        height: 50px;
    }
    .linkWrap {
        padding-left: 10%;
    }
    .introduceBox {
        height: 800px;
    }
    .introduce {
        height: 1200px;
    }

}